@using XenonCMS.Classes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" />

    <title>@ViewBag.Title - @Caching.GetSiteTitle()</title>

    <!-- Bootstrap core CSS -->
    @if (Caching.GetTheme().ToLower() == "default")
    {
        <link id="SiteTheme" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    }
    else
    {
        <link id="SiteTheme" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/@(Caching.GetTheme().ToLower())/bootstrap.min.css" rel="stylesheet">
    }
    <script>
        // Used in xenoncms.js to detect when the css cdn failed to load
        var SiteTheme = '@Caching.GetTheme()';
    </script>

    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/xenoncms.css")" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/html5shiv.js")"></script>
      <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the top of the document so $ is defined -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/Scripts/jquery-1.11.3.min.js"><\/script>')</script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>$.fn.modal || document.write('<script src="/Scripts/bootstrap.min.js"><\/script>')</script>
    <script src="@Url.Content("~/Scripts/xenoncms.js")"></script>

    @RenderSection("Head", false)
</head>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-@Caching.GetNavBarStyle() navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Content("~")" class="navbar-brand">@Caching.GetSiteTitle()</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @Html.Raw(Caching.GetNavMenu(false, Url))
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Raw(Caching.GetNavMenu(true, Url))
                    @if (User.IsInRole("GlobalAdmin") || User.IsInRole("SiteAdmin"))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Content("~/Admin/Settings")">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Content("~/Admin/Pages")">Page Editor</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Content("~/Admin/Import/GetSimple")">Import from GetSimple</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Content("~/Account/Login")">Admin</a></li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="http://www.randm.ca/products/xenoncms">XenonCMS</a> &copy; @DateTime.Now.Year - <a href="http://www.rickparrish.ca">Rick Parrish</a>, <a href="http://www.randm.ca">R&amp;M Software</a></p>
        </div>
    </footer>

    <div id="BootstrapCssTest" class="hide">&nbsp;</div>

    @RenderSection("Scripts", false)
</body>
</html>
