@using XenonCMS.Classes
@{
    ViewBag.Title = "Menu Editor";
}

<style type="text/css">
    body.dragging, body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute;
        top: 0;
        opacity: .5;
        z-index: 2000;
    }

    ul.nav-sortable {
        /*margin: 0 0 9px 0;
        min-height: 10px;*/
    }

        ul.nav-sortable li {
            /*display: block;
            margin: 5px;
            padding: 5px;
            border: 1px solid #CCC;*/
            /*color: $linkColor;
            background: $grayLighter;*/
        }

            ul.nav-sortable li.placeholder {
                position: relative;
                margin: 0;
                padding: 0;
                border: none;
            }

                ul.nav-sortable li.placeholder:before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    margin-top: -5px;
                    left: -5px;
                    top: -4px;
                    border: 5px solid transparent;
                    border-left-color: red;
                    border-right: none;
                }
</style>

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="navbar navbar-@Caching.GetNavBarStyle()">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">@Caching.GetSiteTitle()</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-sortable">
                    @Html.Raw(ViewBag.Menu)
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

@Html.TextArea("txtJson", new { @class = "form-control", rows = "5" })

@section Scripts {
    @*TODO Add timestamps to css and js with no version in filename*@
    <script src="@Url.Content("~/Scripts/jquery-sortable-min.js")"></script>
    <script>
        $(function () {
            var nav_sortable = $("ul.nav-sortable").sortable({
                group: 'nav-sortable',
                nested: false,
                vertical: false,
                exclude: '.divider-vertical',
                onDragStart: function ($item, container, _super) {
                    $item.find('ul.dropdown-menu').sortable('disable');
                    _super($item, container);
                },
                onDrop: function ($item, container, _super) {
                    $item.find('ul.dropdown-menu').sortable('enable');

                    var data = nav_sortable.sortable("serialize").get();
                    var jsonString = JSON.stringify(data, null, ' ');
                    $('#txtJson').text(jsonString);

                    _super($item, container);
                }
            });

            $("ul.dropdown-menu").sortable({
                group: 'nav-sortable'
            });
        });
    </script>
}